{% extends 'employees/employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!<br />
    Address: {{ logged_in_employee.address }} {{ logged_in_employee.zip_code }}<br />
    <br />
    <br />
    Customers Zip Code:
    <ul>
      <li>
       {% for customer in pickups_by_zip %}
       {{ customer.name }} {{ customer.zip_code }}
       <br>                                                            
       {% endfor %}
      </li>
    </ul>                                                            
    Todays Trash Pickups: 
    <ul>
      <l1>
        {% for customer in pickups_by_pickup_date %}
         Name: {{ customer.name }} has a weekly pick up on {{ customer.weekly_pickup }}
         <br>
         {% endfor %}<a href="{% url 'employees:daily_tasks' %}">Confirm Pickup</a>
      </l1>
    </ul>
    
    Non-suspended Accounts:
    <ul>
      <l1>
        {% for customer in pickups_non_suspend %}
         Name: {{ customer.name }}  {{ customer.suspend_start}} to {{ customer.suspend_end }}
         <br>
         {% endfor %}
      </l1>
    </ul>
    Trash Not Picked Up:
     




  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}